mat-card{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 10px;
  display: inline-block;
  background-color: white;
  width: fit-content;
  height: fit-content;
  color: black;
  text-align: center;
}
